.track {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid grey;
  display: flex;

  &-box {
    fill: $primary;
  }

  &-audio {
    fill: $primary-dark;
  }
}

.recording {
  .track {
    &-box {
      fill: $green;
    }

    &-audio {
      fill: $green-dark;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
