body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  color: white;
}

body,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
  padding: 0 0.2em;
}

$primary: #4ca5cd;
$primary-fade: #4ca5cdcc;
$primary-dark: #1f5e7acc;
$secondary: #f2cc59;
$secondary-fade: #f2cc59cc;
$green: #4caf50;
$green-dark: #1b5e20cc;

@import './styles/App.styles.scss';
@import './styles/Toolbar.styles.scss';
@import './styles/Track.styles.scss';
